<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br />
    <%= f.number_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :loginid %><br />
    <%= f.text_field :loginid %>
  </div>
  <div class="field">
    <%= f.label :is_bookmark %><br />
    <%= f.number_field :is_bookmark %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
