<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @favorite.position %>
</p>

<p>
  <b>app_id:</b>
  <%= @favorite.app_id %>
</p>
<p>
  <b>Loginid:</b>
  <%= @favorite.loginid %>
</p>

<p>
  <b>is_bookmark:</b>
  <%= @favorite.is_bookmark %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
