<%= form_for(@app_bookmark, :html => {:multipart => true}) do |f| %>
  <% if @app_bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_bookmark.errors.count, "error") %> prohibited this app_bookmark from being saved:</h2>

      <ul>
      <% @app_bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :uid %><br />
    <%= f.number_field :uid %>
  </div>
    
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.file_field :icon %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
