<h1> messenger space</h1>

<h1>Favorite Apps</h1>

<h1>RM Apps</h1>
<% $p = Person.find(session[:cas_user]) %>
<% $a = $p.accessible_applications %>
<%  $a.each do |apps| %>
<%= apps %>
<%    end %>

<% @apps.each do |t| %>
<%= t.id.to_s + " -- name:" + t.name + " -- description:" + t.description%> <br />
<%  end %>

<h1>Bookmarked Apps</h1>

<h1>Test Scraps</h1>

<% $a = Person.find("guilden") %>
<%= $a.name %>
<% $b = Application.find(1) %>
<%= $b.name %>
<%= @current_user %>
<% $c = session[:cas_user] %>
<%= $c %>
