<h1> messenger space</h1>

<h1> Favorite Apps </h1>

<div id="list-A">
    <ul id="favoritesList" class="connectedSortable">
	<% @favorites.each do |fav| %>
  	<li class="favorite" id="<%= fav.app_id %>">
    		<%= fav.app_id %>, <%= fav.position %>
  	</li>
	<% end %>
    </ul>
</div>

<h1>Applications </h1>

<div id="list-B">
    <ul id="appsList" class="connectedSortable">
	<% @current_user.accessible_applications.each do |apps| %>
  	<li class="favorite" id="<%= apps.application_name %>">
    		<%= apps.application_name %>
  	</li>
	<% end %>
    </ul>
</div>

<h1>Test Scraps</h1>
<% a = Person.find("guilden") %>
<%= a.name %>
<% b = Application.find(1) %>
<%= b.name %>
<%= @current_user %>
<% c = session[:cas_user] %>
<%= c %>
