<h1> messenger space</h1>

<h1> Favorite Apps </h1>

<div id="list-A">
    <ul id="sortableFav" class="connectedSortable">
	<% @favorites.each do |fav| %>
  	<li class="favorite" id="<%= fav.id %>">
    		<%= fav.app_id %>, <%= fav.position %>
  	</li>
	<% end %>
    </ul>
</div>

<h1>Applications </h1>

<div id="list-B">
    <ul id="sortableApp" class="connectedSortable">
	<% @apps.each do |app| %>
  	<li class="<%= app[:class] %>" id="<%= app[:id] %>">
    		<%= app[:name] %>, <%= app[:class] %>, <%= app[:id] %>
  	</li>
	<% end %>
    </ul>
</div>

<h1>Test Scraps</h1>
<% a = Person.find("guilden") %>
<%= a.name %>
<% b = Application.find(1) %>
<%= b.name %>
<%= @current_user %>
<% c = session[:cas_user] %>
<%= c %>
