<h1> messenger space</h1>


<h1>Favorite Apps</h1>
<div id="sortable">
	<% @favorites.each do |fav| %>
	<%== '<div class="category" id="' + fav.id.to_s + '">' %>
	<%== fav.AppBookmark_id.to_s + ', ' + fav.position.to_s %>
	<%== '</div>' %>
	<% end %>
</div>


<h1>RM Apps</h1>
<% $p = Person.find(session[:cas_user]) %>
<% $p.accessible_applications.each do |apps| %>
<%= apps.application_name %>
<br />
<% end %>

<h1>External Apps</h1>

<h1>Test Scraps</h1>

<% $a = Person.find("guilden") %>
<%= $a.name %>
<% $b = Application.find(1) %>
<%= $b.name %>
<%= @current_user %>
<% $c = session[:cas_user] %>
<%= $c %>
